<%= error_messages_for(f.object) %>
<div>
    <%= f.label(:name) %>
    <%= f.text_field(:name) %>
</div>

<div>
    <%= f.label(:page_id) %>
    <%= f.select(:page_id, @pages.map {|p| [p.name, p.id]}) %>
</div>

<div>
    <%= f.label(:position) %>
    <%= f.select(:position, 1..@section_count) %>
</div>

<div>
    <%= f.label(:visible) %>
    <%= f.check_box(:visible) %>
</div>

<div>
    <%= f.label(:content_type) %>
    <%= f.radio_button(:content_type, "text") %> Text
    <%= f.radio_button(:content_type, "html") %> HTML
</div>

<div>
    <%= f.label(:content) %>
    <%= f.text_area(:content, :rows => 4) %>
</div>