<% @page_title = "Sections" %>


<h2>Sections</h2>
<a href=<%= new_section_path(:page_id => @page.id) %> class="btn btn-primary" role="button">Add New</a>

<div class="row">

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Section</th>
        <th>Visible</th>
        <th>Page</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>

    <% @sections.each do |section| %>
    <tr>
        <td><%= section.position %></td>
        <td>
            <%= link_to(section.name, section_path(section, :page_id => @page.id), :data => {:toggle => "tooltip", :placement => "top"}, :title => "Detail") %>
        </td>
        <td><%= status_tag(section.visible) %></td>
        <td><%= section.page.name %></td>
        <td>
            <%= edit_button_for(edit_section_path(section, :page_id => @page.id)) %>
            <%= delete_button_for(section, section_path(section, :page_id => @page.id)) %>
        </td>
    </tr>
    <% end %>

    </tbody>
</table>

</div>