<%= flash[:notice] %>

<div>

<h2>Section</h2>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Section</th>
        <th>Visible</th>
        <th>Page</th>
        <th>Content Type</th>
        <th>Content</th>
        <th>Created</th>
        <th>Updated</th>
    </tr>
    </thead>
    
    <tbody>
    <tr>
        <td><%= @section.position %></td>
        <td><%= @section.name %></td>
        <td><%= @section.visible ? "Yes" : "No" %></td>
        <td><%= @section.page.name %></td>
        <td><%= @section.content_type %></td>
        <td><%= @section.content %></td>
        <td><%= @section.created_at %></td>
        <td><%= @section.updated_at %></td>
    </tr>
    </tbody>
</table>

<%= link_to("Back", sections_path) %>

</div>