<% @page_title = @section.name %>

<div class="row">
<div class="col-md-8">

<h2><%= @page_title %></h2>

<dl class="dl-horizontal">

    <dt>#</dt>
    <dd><%= @section.position %></dd>

    <dt>Name</dt>
    <dd><%= @section.name %></dd>

    <dt>Visible</dt>
    <dd><%= @section.visible ? "Yes" : "No" %></dd>

    <dt>Page</dt>
    <dd><%= @section.page.name %></dd>

    <dt>Created</dt>
    <dd><%= @section.created_at.to_s(:long) %></dd>

    <dt>Updated</dt>
    <dd><%= @section.updated_at.to_s(:long) %></dd>


    <dt>Content Type</dt>
    <dd><%= @section.content_type %></dd>

    <dt>Content</dt>
    <dd><%= @section.content %></dd>
    
</dl>

</div>
</div>