<div>

<h2>Create Page</h2>

<%= form_for(@page) do |f|%>

    <div>
        <label for="">Name</label>
        <%= f.text_field(:name) %>
    </div>

    <div>
        <label for="">Subject ID</label>
        <%= f.text_field(:subject_id) %>
    </div>

    <div>
        <label for="">Permalink</label>
        <%= f.text_field(:permalink) %>
    </div>
    
    <div>
        <label for="">Position</label>
        <%= f.text_field(:position) %>
    </div>

    <div>
        <label for="">Visible</label>
        <%= f.text_field(:visible) %>
    </div>

    <div>
        <%= f.submit("Update Page") %>
        <%= link_to("Back", pages_path) %>
    </div>

<% end %>

</div>