<% @page_title = "Edit Page" %>

<div class="row">
<div class="col-md-11">

    <h2><%= @page_title %></h2>

    <%= form_for(@page, :url => page_path(@page, :subject_id => @subject.id), :html => {:class => "form-horizontal"}) do |f|%>

        <%= render(:partial => "form", :locals => {:f => f}) %>

        <div class="col-md-10 col-md-offset-2">
            <%= f.submit("Save", :class => "btn btn-primary") %>
            <%= link_to("Cancel", pages_path(:subject_id => @subject.id), :class => "btn btn-default") %>
        </div>

    <% end %>

</div>
</div>