<% @page_title = "Pages" %>

<h2>Pages</h2>
<a href=<%= new_page_path(:subject_id => @subject.id) %> class="btn btn-primary" role="button">Add New</a>

<div class="row">

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Page</th>
        <th>Permalink</th>
        <th>Visible</th>
        <th>Subject</th>
        <th>Sections</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>

    <% @pages.each do |page| %>
    <tr>
        <td><%= page.position %></td>
        <td>
            <%= link_to(page.name, page_path(page, :subject_id => @subject.id), :data => {:toggle => "tooltip", :placement => "top"}, :title => "Detail") %>
        </td>
        <td><%= page.permalink %></td>
        <td><%= status_tag(page.visible) %></td>
        <td><%= page.subject.name %></td>
        <td>
            <%= link_to(pluralize(page.sections.size, 'Section'), sections_path(:page_id => page.id), :data => {:toggle => "tooltip", :placement => "top"}, :title => "Sections") %>
        </td>
        <td>
            <%= edit_button_for(edit_page_path(page, :subject_id => @subject.id)) %>
            <%= delete_button_for(page, page_path(page, :subject_id => @subject.id)) %>
        </td>
    </tr>
    <% end %>

    </tbody>
</table>

</div>