<%= flash[:notice] %>

<div>

<h2>Page</h2>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Page</th>
        <th>Permalink</th>
        <th>Visible</th>
        <th>Subject</th>
        <th>Sections</th>
        <th>Created</th>
        <th>Updated</th>
    </tr>
    </thead>
    
    <tbody>
    <tr>
        <td><%= @page.position %></td>
        <td><%= @page.name %></td>
        <td><%= @page.permalink %></td>
        <td><%= @page.visible ? "Yes" : "No" %></td>
        <td><%= @page.subject.name %></td>
        <td><%= @page.sections.size %></td>
        <td><%= @page.created_at %></td>
        <td><%= @page.updated_at %></td>
    </tr>
    </tbody>
</table>

<%= link_to("Back", pages_path) %>

</div>