<% @page_title = @page.name %>

<div class="row">
<div class="col-md-8">

<h2><%= @page_title %></h2>

<dl class="dl-horizontal">

    <dt>#</dt>
    <dd><%= @page.position %></dd>

    <dt>Name</dt>
    <dd><%= @page.name %></dd>

    <dt>Permalink</dt>
    <dd><%= @page.permalink %></dd>

    <dt>Visible</dt>
    <dd><%= @page.visible ? "Yes" : "No" %></dd>

    <dt>Subject</dt>
    <dd><%= @page.subject.name %></dd>

    <dt>Pages</dt>
    <dd><%= pluralize(@page.sections.size, 'Section') %></dd>

    <dt>Created</dt>
    <dd><%= @page.created_at.to_s(:long) %></dd>

    <dt>Updated</dt>
    <dd><%= @page.updated_at.to_s(:long) %></dd>

</dl>

</div>
</div>