<%= error_messages_for(f.object) %>
<div>
    <%= f.label(:name) %>
    <%= f.text_field(:name) %>
</div>

<div>
    <%= f.label(:position) %>
    <%= f.select(:position, 1..@subject_count) %>
</div>

<div>
    <%= f.label(:visible) %>
    <%= f.check_box(:visible) %>
</div>
