<% @page_title = @subject.name %>

<div class="row">
<div class="col-md-8">

<h2><%= @page_title %></h2>

<dl class="dl-horizontal">

    <dt>#</dt>
    <dd><%= @subject.position %></dd>

    <dt>Name</dt>
    <dd><%= @subject.name %></dd>

    <dt>Visible</dt>
    <dd><%= @subject.visible ? "Yes" : "No" %></dd>

    <dt>Pages</dt>
    <dd><%= pluralize(@subject.pages.size, 'Page') %></dd>

    <dt>Created</dt>
    <dd><%= @subject.created_at.to_s(:long) %></dd>

    <dt>Updated</dt>
    <dd><%= @subject.updated_at.to_s(:long) %></dd>

</dl>

</div>
</div>