<% @page_title = "Edit Admin User" %>

<div class="row">
<div class="col-md-11">

    <h2><%= @page_title %></h2>

    <%= form_for(@admin_user, :html => {:class => "form-horizontal"}) do |f|%>

        <%= render(:partial => "form", :locals => {:f => f}) %>

        <div class="col-md-10 col-md-offset-2">
            <%= f.submit("Save", :class => "btn btn-primary") %>
            <%= link_to("Cancel", admin_users_path, :class => "btn btn-default") %>
        </div>

    <% end %>

</div>
</div>