<% @page_title = "Admin Users" %>


<h2><%= @page_title %></h2>
<a href=<%= new_admin_user_path %> class="btn btn-primary" role="button">Add New</a>

<div class="row">

<table class="table table-hover">
    <thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>

    <% @admin_users.each do |admin_user| %>
    <tr>
        <td><%= admin_user.username %></td>
        <td><%= admin_user.name %></td>
        <td><%= mail_to(admin_user.email) %></td>
        <td>
            <%= edit_button_for(edit_admin_user_path(admin_user)) %>
            <%= delete_button_for(admin_user) %>
        </td>
    </tr>
    <% end %>

    </tbody>
</table>

</div>