<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple CMS: <%= @page_title || "Admin Area" %></title>
    <%= stylesheet_link_tag("admin", :media => "all") %>
</head>
<body>
    <%= flash[:notice] %>
    <%= yield %>
    <%= javascript_include_tag("application") %>
</body>
</html>